.container {
  width: 90%;
  margin: 0 auto;
}

.wrapper-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.wrapper-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.margining {
  text-align: start;
  margin-top: 50px;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-cardd {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.service-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.service-text {
  font-size: 18px;
  font-weight: bold;
}

.service-title span {
  color: #0D6EFD;
}